<article>
	<img class="img" ng-src="{{post.image}}" ng-show="post.image" alt />

	<h2 class="title">{{post.title}}</h2>

	<h4 class="author">{{post.author}} <span ng-show="post.date">- {{post.date | date}}</span></h4>

	<p class="article" ng-show="post.text">{{post.text}}</p>
	<p class="article" ng-show="post.body">{{post.body}}</p>

	<div class="show button-block text-right">
		<button class="btn btn-warning" data-toggle="modal" data-target="popup" ng-click="blog.fillPopup(post)">Edit</button>
	</div>
</article>