<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">New post</h4>
		</div>
		<div class="modal-body">

			<form name="formNewPost" ng-submit="formNewPost.$valid && newForm.submit()" novalidate>
				<fieldset class="form-group">
					<input class="form-control animation" type="text" ng-model="newForm.article.author" placeholder="Write author's name..." required />
				</fieldset>
				<fieldset class="form-group">
					<input class="form-control animation" type="text" ng-model="newForm.article.image" placeholder="Add URL of the image..." />
				</fieldset>
				<fieldset class="form-group">
					<input class="form-control animation" type="text" ng-model="newForm.article.title" placeholder="Write a title..." required />
				</fieldset>
				<fieldset class="form-group">
					<textarea class="form-control animation" ng-model="newForm.article.body" placeholder="Write post's text..." required></textarea>
				</fieldset>
				<fieldset class="form-group">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success pull-right">Submit</button>
				</fieldset>
			</form>

		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
