header {
	padding: 20px 0;
	border-bottom: 54px solid #6699cc;
}
header img {
	display: block;
	margin: auto;
}
nav {
	height: 44px;
	margin-top: -44px;
}
.content {
	padding: 20px 0;
}
.content article {
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #6699cc;
	border-radius: 10px;
}
article img {
	display: block;
	margin: auto;
	max-width: 100%;
}
nav .btn {
	border-color: #fff;
}

fieldset .ng-valid.ng-dirty {
	background-color: #E6FFDB;
}
fieldset .ng-invalid.ng-dirty {
	background-color: #FFDBDB;
}

.animation {
	background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%,  rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
	background-position: 0 0;
	background-repeat: no-repeat;
	transition: 0.4s;
}
.animation.ng-valid.ng-dirty {
	background-position: 0 40px;
}
.animation.ng-invalid.ng-dirty {
	background-position: 0 -40px;
}

.btn, .btn:active {
	position: relative;
	background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.4) 50%, rgba(0,0,0,0) 100%);
	background-position: 0 -40px;
	background-repeat: no-repeat;
	outline: none;
	transition: .4s;
}
.btn:hover {
	background-position: 0 40px;
}
.btn:focus:hover {
	background-position: 0 10px;
}
.btn:focus {
	background-position: 0 0px;
	outline: none;
}
.btn:active:focus {
	top: -1px;
	background-position: 0 -20px;
	outline: none;
}